@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Rampart+One&family=Risque&display=swap');
*{
    font-family: 'Almendra SC', serif;
    font-family: 'Rampart One', cursive;
    font-family: 'Risque', cursive;
    color: black;
}
.barra{
    float: left;
    width: 16%;
    padding-left: 1%;
    position: fixed;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding-right: 1%;
    height: 70%;
    width: 200px;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(6,15%);
    background-color: #ffa50073;
}
.barra a{
    color: black;
    text-decoration: none;
}
#banner{
    background-image: url(img/banner2.png);
    display: grid;
    grid-template-columns: 20% 80%;

}
.ban{
    display: grid;
    justify-items: center;
    padding-top: 2.5%;
    color: darkorange;
    font-weight: 600;
    -webkit-text-stroke: 0.5px black;
    font-size: 4rem;
    padding-right: 22%;
    padding-top: 5%;
}
.principal,
.contenido
{
    padding-left: 20%;
    padding-right: 2%;
    padding-top: 2%;
    background-color: aliceblue;
}
.principal{
    text-align: center;
}
.logo{
    padding-left: 30%;
}
.video,
.imagen,
#sed,
#prod,
#estres,
#comp,
#cond,
#flexi,
#muscular,
#movart,
#ludica,
#ritmo,
#pas,
#creat,
#flexrodilla,
#estiramientos,
#pausamental,
#cuello,
#manos,
#caminar{
    display: flex;
    justify-content: center;
}
#sed img,
#muscular img,
#flexrodilla img,
#pausamental img{
    width: 20%;
}
#prod img,
#estres img,
#movart img,
#ludica img,
#creat img,
#cuello img,
#manos img{
    width: 40%;
}
#comp img,
#cond img,
#pas img{
    width: 30%;
}
#flexi img{
    width: 15%;
}
.porque .imagen{
    width: 50%;
}
.footer{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 1%;
    padding-top: 3%;
}
#contacto,
#redes{
    background-color: black;
    font-size: 19px;
    text-align: center;
}
#contacto p,
#redes p{
    color: white;
    background-color: black;
}
#redes a{
    background-color: white;
}
#redes{
    padding-top: 3%;
}
.principal p{
    font-size: 1.4rem;
}